@charset "UTF-8";

 /* Estilos para confg gerais */

        * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        html, body {
            width: 100vw;
            height: 100vh;
            background-color: black;
            background-size: contain;
            background-repeat: no-repeat;
        }

        h1 {
            color: white;
            text-shadow: 3px 3px 0px gray;
            padding: 10px;
        }

        /* Media Query para orientação retrato */

        @media screen and (orientation: portrait) {
            body {
                background-image: url(../imagens/cev-portrait.jpg);
                background-position: center bottom;
            }
        }

        /* Media Query para orientação paisagem */

        @media screen and (orientation: landscape) {
            body {
                background-image: url(../imagens/cev-landscape.jpg);
                background-position: left bottom;
            }
        }