@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
    color: white;
}

header {
    background-color: darkblue;
    color: white;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: darkblue;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover {
    background-color: blue;
    color: black
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: darkblue;
}


main {
    width: 90vw;
    background-color: blue;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 { 
    padding-bottom: 20px;
}

article > p { 
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}