@charset "UTF-8";

 /* Estilos para confg gerais */

 * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }

 html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: countain;
    background-repeat: no-repeat;
 }

 h1 {
    color: white;
    text-shadow: 3px 3px 0px gray;
    padding: 10px;
 }